/demo.zip
/NODE.zip


./server/node_modules
node_modules
/NODE/node_modules
./NODE/node_modules
/server/node_modules
/web/node_modules
./web/node_modules
./server/.DS_Store

./web/.DS_Store 

/web/.DS_Store
/server/.DS_Store

./server/.env
.DS_Store
./server/.env.devolopment
./server/.env.production

__pycache__

