.header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-decoration: underline;

}


.loginChild{
  position: absolute;
  top: 0px;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  min-height: 130%;
  height: auto;
}

/* Body Background */
.loginItem {
  top: 108px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--br-5xl);
  /* background-color: var(--color-whitesmoke); */
  width: 100%;
  height: 200%;
  background-image: url("/public/NEIU_El_Centro.jpeg");
  /*Path for bg image*/
  background-size: cover;
  background-color: #cccccc;
  z-index: 1;
  position: absolute;
}

/* header Background */
.loginInner {
  position: absolute;
  top: 3px;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 100%;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}

/* Header Font */
.neiu {
  position: absolute;
  top: 24px;
  left: 28px;
  font-size: var(--font-size-13xl);
  text-align: left;
  font-family: var(--font-inter);
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Body crediantal Background */
.loginGroupChild {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 10%;
  left: 0%;
  width: 500Px;
  height: 520Px;
  display: flex;
  justify-content: center;
  /* align-items: top; */
  margin-top: 20px;
  position: relative;
  z-index: 99;
  background-color: #003da7;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;

}

.registerbackground {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 2%;
  left: 0%;
  width: 550Px;
  height: 850Px;
  display: flex;
  justify-content: center;
  /* align-items: top; */
  margin-top: 20px;
  position: relative;
  z-index: 99;
  background-color: #003da7;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;

}

/* Email and password with buttons form */
.form {
  top: 10%;
  left: 0%;
  right: 0%;
  width: 100%;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #ffffff;
  z-index: 99;
  margin: 25Px 15px;


}



.registergroup {
  /* top: 0%;
  left: 0%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500Px;
}

.radio1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: fit-content;
  width: 400Px;
}


.formgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: fit-content; */
  width: 600Px;


  label {
    font-size: 18px;
  }

  input {
    margin-top: 6px;
    /* min-width: 18em; */
    /* width: 200Px; */
    height: 37px;
    padding: 0px 10px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
  }
}



.fontemail {
  position: absolute;
  top: 52%;
  left: 45px;
  font-size: 22px;
  text-align: left;
  font-family: var(--font-inter);
  color: #ffffff;
}

.fontpassword {
  position: absolute;
  top: 65%;
  left: 28px;
  font-size: 22px;
  text-align: left;
  font-family: var(--font-inter);
  color: #ffffff;
}

.btnregister {
  font-size: 21px;
  bottom: 80Px;
  left: 27%;
  position: absolute;
  padding: 5px 76px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btnregisteradvisor {
  font-size: 21px;
  bottom: 80Px;
  left: 15%;
  position: absolute;
  padding: 5px 76px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}


.btnlogin {
  font-size: 21px;
  bottom: 30px;
  left: 27%;
  position: absolute;
  padding: 5px 65px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}



.loginGroupInner,
.neiuLogoIcon {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 75px;
  height: 72px;
  object-fit: cover;
  z-index: 1;
  /* Higher value elements are in front */
  position: relative;
  /* or absolute, fixed, or sticky */

}


.loginGroupItem {
  position: absolute;
  top: 42px;
  left: 29px;
  background-color: var(--color-white);
  width: 156px;
  height: 20px;
}