.forgotpasswordChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1280px;
  height: 720px;
}
.forgotpasswordItem {
  position: absolute;
  top: 108px;
  left: 28px;
  border-radius: var(--br-7xl);
  background-color: var(--color-whitesmoke);
  width: 1224px;
  height: 588px;
}
.forgotpasswordInner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 1280px;
  height: 86px;
}
.neiu {
  position: absolute;
  top: 24px;
  left: 28px;
  font-size: var(--font-size-13xl);
}
.loginGroupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-14xl);
  background-color: var(--color-gainsboro);
  width: 433px;
  height: 154px;
}
.email {
  position: absolute;
  top: 77px;
  left: 29px;
}

.loginGroupItem {
  top: 104px;
  
  width: 156px;
  height: 20px;
}
.loginGroup {
  position: absolute;
  top: 134px;
  left: 51px;
  width: 433px;
  height: 154px;
}
.loginButtonChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-10xs);
  background-color: var(--color-darkslateblue);
  width: 94px;
  height: 22px;
}
.loginButton,
.sendEmail {
  position: absolute;
  top: 1px;
  left: 4px;
  color: black;
}
.loginButton {
  top: 240px;
  left: 280px;
  width: 94px;
  height: 22px;
  cursor: pointer;
  color: black;
}
.forgotpassword {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 720px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}


.loginChild,
.loginItem {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}

.passwordReset {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-decoration: underline;
}
/* Body Background */
.loginItem {
  top: 108px;
  left: 0px;
  bottom: 108Px;
  border-radius: var(--br-5xl);
  /* background-color: var(--color-whitesmoke); */
  width: 100%;
  height: 100%;
  background-image: url("/public/NEIU_El_Centro.jpeg");
  /*Path for bg image*/
  background-size: cover;
  background-color: #cccccc;
  z-index: 1;
}

/* header Background */
.loginInner {
  position: absolute;
  top: 3px;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 100%;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}

/* Header Font */
.neiu {
  position: absolute;
  top: 24px;
  left: 28px;
  font-size: var(--font-size-13xl);
  text-align: left;
  font-family: var(--font-inter);
  color: #ffffff;
}

/* Body crediantal Background */
.loginGroupChild {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top:10%;
  left: 0%;
  width: 35em;
  height: 35em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
  z-index: 99;
  background-color: #003da7;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;

}
/* Email and password with buttons form */
.form {
  margin-top: 0em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  z-index: 99;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  label {
    font-size: 20px;
  }

  input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
  }
}



.fontemail {
  position: absolute;
  top: 55%;
  left: 45px;
  font-size: 22px;
  text-align: left;
  font-family: var(--font-inter);
  color: #ffffff;
}

.fontpassword {
  position: absolute;
  top: 65%;
  left: 28px;
  font-size: 22px;
  text-align: left;
  font-family: var(--font-inter);
  color: #ffffff;
}

.email{
  position: absolute;
  top: 55%;
  left: 27%;
  color: black;
  width: 355px

}

.password {
  position: absolute;
  top: 65%;
  left: 27%;
  color: black;
  width: 355px
}



.btn1 {
  font-size: 21px;
  top: 70%;
  left: 23%;
  position: absolute;
  padding: 5px 76px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn2 {
  font-size: 21px;
  top: 80%;
  left: 23%;
  position: absolute;
  padding: 5px 80px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn3 {
  font-size: 21px;
  top: 90%;
  left: 32%;
  position: absolute;
  padding: 5px 24px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.loginGroupInner,
.neiuLogoIcon {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 75px;
  height: 72px;
  object-fit: cover;
  z-index: 1;
  /* Higher value elements are in front */
  position: relative;
  /* or absolute, fixed, or sticky */

}

/* Login Page Image */
.image1,
.image2{
  position: absolute;
  top: 100px;
  left: 40%;
  width: 20%;
  height: 35%;
  object-fit: cover ;
  z-index: 100;
  /* Higher value elements are in front */
  position: relative;
  /* or absolute, fixed, or sticky */

}

.loginGroupItem {
  position: absolute;
  top: 42px;
  left: 29px;
  background-color: var(--color-white);
  width: 156px;
  height: 20px;
}
