@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-4xl-6: 23.6px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-darkslateblue: #1f4f97;
  --color-dimgray-100: #6a6a6a;
  --color-dimgray-200: #5d5d5d;
  --color-whitesmoke: #f0f0f0;
  --color-dodgerblue: #3f8cff;
  --color-gray: #787878;

  /* border radiuses */
  --br-lgi: 19px;
  --br-7xl: 26px;
  --br-10xs: 3px;
  --br-14xl: 33px;
  --br-9xs: 4px;
  --br-11xs: 2px;
  --br-3xl-5: 22.5px;
  --br-8xl-5: 27.5px;
}

/* New Code  */

input[type=Number],[type=Text],[type=email],[type=Password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-decoration: underline;

}


.loginChild,
.loginItem {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
}

/* Body Background */
.loginItem {
  top: 108px;
  left: 0px;
  bottom: 108Px;
  border-radius: var(--br-5xl);
  /* background-color: var(--color-whitesmoke); */
  width: 100%;
  height: 100%;
  background-image: url("/public/Background.jpg");
  /*Path for bg image*/
  background-size: cover;
  background-color: #cccccc;
  z-index: 0;
}

/* header Background */
.loginInner {
  position: absolute;
  top: 3px;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 100%;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}

/* Slidebar */
.Slidebar {
  position: absolute;
  top: 3px;
  left: 0;
  background-color: #FFC72C;
  width: 230px;
  height: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  z-index: 0;


}

.check1 {
  position: absolute;
  top: 20%;
  left: 65%;
  background-color: #FFC72C;
  width: 330px;
  height: 50%;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  border-radius: var(--br-lgi);
  z-index: 100;

}


.landingpageChild5 {
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: var(--br-lgi);
  background-color: #ffffff;
  width: 80%;
  height: 18%;
  background-color: var(--color-darkslateblue);
  z-index: 100;
}

.checklist1 {
  position: absolute;
  top: 20%;
  left: 32%;
  font-weight: 600;
  color: #ffffff;
  z-index: 100;
}

.btn4 {
  font-size: 21px;
  bottom: 60%;
  left: 18%;
  position: absolute;
  padding: 5px 48px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn5 {
  font-size: 21px;
  bottom: 40%;
  left: 18%;
  position: absolute;
  padding: 5px 30px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.Instudentdetail {
  TEXT-SHADOW: 0 0 BLACK;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 2px;
  left: 0;
  width: 1100Px;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 100;
  border-radius: 4px;
  border-radius: var(--br-lgi);
}



/* Header Font */
.neiu {
  position: absolute;
  top: 24px;
  left: 28px;
  font-size: var(--font-size-13xl);
  text-align: left;
  font-family: var(--font-inter);
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 99;
}

/* Body crediantal Background */
.studentdatas {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top: 7%;
  left: 5%;
  width: 1100Px;
  height: 550px;
  display: flex;
  justify-content: center;
  /* align-items: top; */
  /* margin-top: 20px; */
  position: relative;
  z-index: 99;
  background-color: #003da7;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
  border-radius: 4px;
  border-radius: var(--br-lgi);

}

/* Email and password with buttons form */
.form {
  top: 10%;
  left: 0%;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #ffffff;
  z-index: 99;

}

.loginGroup {
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 300px; */
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;


  label {
    font-size: 20px;
  }

  input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
  }
}

/* .btn101 {
  font-size: 21px;
  bottom: 90%;
  left: 2%;
  right: 2%;
  position: absolute;
  padding: 5px 76px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}


.btn102 {
  font-size: 21px;
  bottom: 82%;
  left: 2%;
  right: 2%;
  position: absolute;
  padding: 5px 68px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn103 {
  font-size: 21px;
  bottom: 74%;
  left: 2%;
  right: 2%;
  position: absolute;
  padding: 5px 68px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn104 {
  font-size: 21px;
  bottom: 69%;
  left: 2%;
  right: 2%;
  position: absolute;
  padding: 5px 73px;
  border: 0;
  background-color: #b40c0c;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
} */

.form-groupin101 {
  margin-right: 10px;
  /* Adjust the spacing between buttons */
  margin-top: 10px;

}

.btn101,
.btn102,
.btn103,
.btn104,
.btn105 {
  font-size: 21px;
  width: 210px;
  /* Set a fixed width for all buttons */
  padding: 20px 0;
  /* Adjust vertical padding if necessary */
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);
}

.btn101:hover,
.btn102:hover,
.btn103:hover,
.btn104:hover,
.btn105:hover {
  background-color: #08783e;
}

.btn101:focus,
.btn102:focus,
.btn103:focus,
.btn104:focus,
.btn105:focus {
  outline: none;
  background-color: #b40c0c;
}



.btn101,
.btn102,
.btn103,
.btn104,
.btn105.active {
  background-color: #3498db;
}



.neiuLogoIcon {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 75px;
  height: 72px;
  object-fit: cover;
  z-index: 1;
  /* Higher value elements are in front */
  position: relative;
  /* or absolute, fixed, or sticky */

}


/* Instructor body */
.menubar {
  position: absolute;
  top: 20%;
  left: 6%;
  background-color: #003da7;
  width: 80%;
  height: 60%;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  border-radius: var(--br-lgi);
  z-index: 100;

}

.Instructor {
  position: absolute;
  top: 24%;
  left: 30%;
  font-weight: 300;
  color: #ffffff;
}

.IconInstructor {
  position: absolute;
  top: 10%;
  left: 4%;
  width: 150px;
  height: 150px;

}

.NameInstructor {
  position: absolute;
  top: 8%;
  left: 29%;
  font-size: 36px;
  font-weight: 800;
  color: #FFC72C;
}


/* Student Search */


.InSearchUsermenu {
  position: absolute;
  top: 2%;
  left: 0%;
  /* background-color: #003da7; */
  width: 100%;
  height: 80%;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  border-radius: var(--br-lgi);
  z-index: 100;

}

.SSmenu {
  position: absolute;
  top: 20%;
  left: 18%;
  background-color: #003da7;
  width: 70%;
  height: 80%;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  border-radius: var(--br-lgi);
  z-index: 100;

}


.SSdata {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: #ffffff;
  width: 70%;
  height: auto;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  /* border-radius: var(--br-lgi); */
  z-index: 100;

}

.btnsu101 {
  font-size: 21px;
  margin-top: 10px;
  /* bottom: 10px; */
  left: 75%;
  right: 5%;
  position: absolute;
  padding: 5px 20px;
  border: 0;
  background-color: #FFC72C;
  color: #fff;
  border-radius: 1px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btnsu102 {
  font-size: 21px;
  margin-top: 80Px;
  /* bottom: 10px; */
  left: 75%;
  right: 5%;
  position: absolute;
  padding: 5px 20px;
  border: 0;
  background-color: #FFC72C;
  color: #fff;
  border-radius: 1px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btnsu103 {
  font-size: 21px;
  margin-top: 150Px;
  /* bottom: 10px; */
  left: 75%;
  right: 5%;
  position: absolute;
  padding: 5px 30px;
  border: 0;
  background-color: #FFC72C;
  color: #fff;
  border-radius: 1px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.ssdatadetails {
  position: absolute;
  top: 120%;
  left: 10%;
  background-color: #ebe652;
  width: auto;
  height: auto;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  /* border-radius: var(--br-lgi); */
  z-index: 100;

}


/*Inquestionare CSS */


/* NEW CODE FROM HERE */

label {
  font-size: 20px;
  font-weight: bold;
}


select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.formContainerin {
  width: 100%;
  margin: 25Px 15px;
  padding: 30px;

  width: Auto;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: justify; */
}


/* New Code  */



.btnsubmitin {
  font-size: 21px;
  bottom: 10Px;
  left: 40%;
  position: absolute;
  padding: 8px 58px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

/* user details */
.menubarin {
  position: absolute;
  top: 8%;
  left: 20%;
  /* top: 20%;
  left: 25%; */
  background-color: #003da7;
  width: 62%;
  height: 700Px;
  /* height: 600px; */
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  /* border-radius: var(--br-lgi); */
  z-index: 100;

}




/* Email and password with buttons form */
.formin {
  top: 5%;
  left: 0%;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #ffffff;
  z-index: 99;

}


/* .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;




  input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
  }
} */

.btn1131 {
  font-size: 21px;
  bottom: 90%;
  left: 2%;
  position: absolute;
  padding: 5px 76px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}


/* .btn1231 {
  font-size: 21px;
  bottom: 85%;
  left: 2%;
  position: absolute;
  padding: 5px 74px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn1331 {
  font-size: 21px;
  bottom: 80%;
  left: 2%;
  position: absolute;
  padding: 5px 52px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn1431 {
  font-size: 21px;
  bottom: 75%;
  left: 2%;
  position: absolute;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}
.btn1531 {
  font-size: 21px;
  bottom: 70%;
  left: 2%;
  position: absolute;
  padding: 5px 67px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btn1631 {
  font-size: 21px;
  bottom: 65%;
  left: 2%;
  position: absolute;
  padding: 5px 72px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
} */


.form {
  display: flex;
  justify-content: flex-start;
}

.form-group1111 {
  margin-right: 10px;
  /* Adjust the spacing between buttons */
  margin-top: 10px;

}

.btn1231,
.btn1331,
.btn1431,
.btn1531 {
  font-size: 21px;
  width: 210px;
  /* Set a fixed width for all buttons */
  padding: 20px 0;
  /* Adjust vertical padding if necessary */
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);
}

.btn1231:hover,
.btn1331:hover,
.btn1431:hover,
.btn1531:hover {
  background-color: #08783e;
}

.btn1231:focus,
.btn1331:focus,
.btn1431:focus,
.btn1531:focus {
  outline: none;
  background-color: #b40c0c;
}

.btn1231.active {
  background-color: rgb(255, 0, 38);
}


.neiuLogoIcon {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 75px;
  height: 72px;
  object-fit: cover;
  z-index: 1;
  /* Higher value elements are in front */
  position: relative;
  /* or absolute, fixed, or sticky */

}

.btnredirect123 {
  font-size: 21px;
  bottom: 490px;
  left: 375px;
  position: absolute;
  padding: 8px 58px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.btnsubmit123 {
  font-size: 21px;
  bottom: 320px;
  left: 375Px;
  position: absolute;
  padding: 8px 85px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}


.Personality123 {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.Personality {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}


.btnicon {
  font-size: 15px;
   margin-top: 8px;
  /* margin-left: 10%;  */
  margin-right: 5px;
  left: 10px;
  right: 2%;
  position: right;

  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 1px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  /* border-radius: var(--br-lgi); */

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}


/* Add these styles to your CSS file */
.search-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px; /* Adjust margin as needed */
}

.search-fields input {
  width: calc(33.33% - 1px); /* Adjust width as needed */
  padding: 10px;
  margin-right: 10px; /* Adjust margin between inputs */
  margin-top: 15px;
}

.search-fields input:last-child {
  margin-right: 10px; /* Remove margin for the last input to prevent extra space */
}

.search-fields input:first-child {
  margin-left: 10px; /* Remove margin for the last input to prevent extra space */
}


/* Taskbar styles */
.taskbar {
  margin-top: 0.2%;
  margin-left: 20%;
  width: 62%;
  display: center;
  justify-content: space-between;
  align-items: center;
  background-color: #FFC72C;
  padding: 10px;
  z-index: 101;
  
}

.taskbar-button {
  background-color: #003da7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}


.taskbar-button.active {
  background-color: #b40c0c;
}

.taskbar-button:hover{
  background-color: #08783e;
}

/* Other styles remain the same */


/* Student Side */

.form1 {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 60px;
  gap: 20px; /* Adjust this value to change the space between buttons */
}

.rectangleIcon1 {
  position: absolute;
  top: 10%;
  left: 4%;
  width: 150px;
  height: 150px;

}
.User {
  position: absolute;
  top: 8%;
  left: 28%;
  font-size: 36px;
  font-weight: 800;
  color: #FFC72C;
}
.computerScience {
  position: absolute;
  top: 24%;
  left: 28%;
  font-weight: 300;
  color: #ffffff;
}

.demographicform {
  top: 1%;
  left: 0%;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #ffffff;
  z-index: 99;

}
.demographicformContainer {
  width: 100%;
  margin: 25Px 15px;
  padding: 30px;
  width: Auto;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: justify; */
}

.demographicbtnsubmit {
  font-size: 21px;
  bottom: 10Px;
  left: 40%;
  position: absolute;
  padding: 8px 58px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.Questionaireform {
  top: 5%;
  left: 0%;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #ffffff;
  z-index: 99;

}

.QuestionaireformContainer {
  width: 100%;
  margin: 25Px 15px;
  padding: 30px;

  width: Auto;
  height: 450px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: justify; */
}

.Questionairebtnsubmit {
  font-size: 21px;
  bottom: 10Px;
  left: 40%;
  position: absolute;
  padding: 8px 58px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.Personalityform {
  top: 10%;
  left: 0%;
  /* margin-top: 2em; */
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #ffffff;
  z-index: 99;

}

.Personality {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20%;
}


.PersonalityformContainer {
  width: 100%;
  margin: 25Px 15px;
  padding: 30px;

  width: Auto;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  /* text-align: justify; */
}

.Personalitybtnredirect {
  font-size: 21px;
  bottom: 350px;
  left: 410px;
  position: absolute;
  padding: 8px 58px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.Personalitybtnsubmit {
  font-size: 21px;
  bottom: 150px;
  left: 410Px;
  position: absolute;
  padding: 8px 85px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}

.AssesmentResult {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.AssesmentResultmenubar {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 1000px;
  height: 400Px;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  border-radius: var(--br-lgi);
  z-index: 100;
  
}


.Settingscenterbar {
  position: absolute;
  top: 5Px;
  left: 1%;
  right: 6%;
  width: Auto;
  height: Auto;
  text-align: left;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  border-radius: var(--br-lgi);
  z-index: 100;
  
  
}

.Settingsbtnsubmit {
  font-size: 21px;
  bottom: -10%;
  left: 45%;
  position: absolute;
  padding: 8px 58px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  /* transition: all 250ms ease-in-out; */
  cursor: pointer;
  border-radius: var(--br-lgi);

  &:hover {
    background-color: #08783e;
  }

  &:focus {
    outline: none;
  }
}
/* You can add additional styles as needed */


/* Auth.module.css additions */

.formGroup121 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label121 {
  margin-right: 10px; /* Ensures some space between the label and the input box */
  flex: 10px 0 100px; /* Gives the label a fixed width */
  color: var(--color-white);
}

.input121 {
  flex: 1; /* Allows the input to fill the rest of the space in the formGroup */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image2{
  position: absolute;
  top: 15px;
  left: 50px;
  width: Auto;
  height: 35%;
  object-fit: cover ;
  z-index: 99;
  /* Higher value elements are in front */
  position: relative;
  /* or absolute, fixed, or sticky */

}

.btn1001,
.btn1002{
  font-size: 20px;
  width: 180px;
  margin-left: 12px;
  margin-top: 12px;
  /* Set a fixed width for all buttons */
  padding: 20px 0;
  /* Adjust vertical padding if necessary */
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);
}

.btn1003{
  font-size: 20px;
  width: 180px;
  margin-left: 100px;
  margin-top: 12px;
  /* Set a fixed width for all buttons */
  padding: 20px 0;
  /* Adjust vertical padding if necessary */
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: var(--br-lgi);
  /* margin: 20px auto; */
}
.btn1001:hover,
.btn1002:hover,
.btn1003:hover {
  background-color: #08783e;
}

.btn1001:focus,
.btn1002:focus,
.btn1003:focus{
  outline: none;
  background-color: #b40c0c;
}

.btn1001.active {
  background-color: rgb(255, 0, 38);
}